/* Common-part start */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: "poppins",sans-serif;
    background-color: rgb(182, 197, 211);
}
section{
    padding: 90px;
}
/* Common-part finish */
/* Header-part start */
.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 50px 20px 0px;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navigation{
    display: flex;
}
.navigation li{
    list-style: none;
    font-weight: 600;
}
.navigation li a{
    text-decoration: none;
    color: rgb(0, 0, 0);
    padding-left: 40px;
    transition: .3s ease-in-out;
}
.navigation li a:hover{
    color: rgb(131, 0, 65);
}
#menu, label{
    display: none;
}
/* Header-part finish */
/* First-part start */
.first-part{
    display: flex;
    padding-bottom: 0px;
}
.right-image{
    width: 40%;
}
.right-image img{
    max-width: 100%;
    padding-left: 80px;
}
.start-journey{
    width: 60%;
    padding-top: 20px;
}
.start-journey h1{
    font-size: 60px;
}
.start-journey p{
    font-size: 15px;
    font-weight: 500;
    padding-bottom: 40px;
    padding-top: 20px;
}
.button{
    font-size: 20px;
    text-decoration: none;
    color: white;
    background-color: rgb(88, 0, 34);
    border: 2px solid transparent;
    border-radius: 20px;
    padding: 10px 20px;
}
.fa-arrow-right{
    font-size: 16px;
    padding-left: 4px;
    transition: .6s;
}
.button:hover .fa-arrow-right{
    transform: translateX(10px);
}
/* First-part finish */
/* Second-part start */
.second-part{
    padding-top: 60px;
    padding-bottom: 80px;
}
.brands{
    padding: 20px;
    border-top: 1px solid rgba(255, 253, 253, 0.479);
    border-bottom: 1px solid rgba(255, 251, 251, 0.438);
}
.brands img{
    padding-left: 60px;
}
/* Second-part finish */
/* Third-part start */
.third-part{
    padding-top: 0px;
    padding-bottom: 30px;
}
.collection{
    text-align: center;
    margin-bottom: 50px;
}
/* Products-part start */
.product-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 25px;
    grid-row-gap: 25px;
    margin-bottom: 20px;
}
.item{
    width: 360px;
    height: 500px;
    border-radius: 10px;
    background-color: white;
}
.item img{
    width: 100%;
    padding: 15px 10px;
}
.item h2{
    padding-left: 10px;
}
.price{
    font-size: 25px;
    padding: 10px;
}
.ratting{
    display: flex;
    padding-left: 10px;
    padding-bottom: 10px;
}
.fa-star{
    font-size: 14px;
    color: orange;
}
.ratting span{
    font-size: 16px;
    padding-left: 10px;
}
.item p{
    padding-left: 10px;
}
/* Products-part finish */
.more-button{
    text-align: right;
    text-decoration: none;
    color: rgb(88, 0, 34);
    display: block;
    padding-right: 10px;
    padding-top: 20px;
    font-weight: 600;
}
.more-button:hover .fa-arrow-right{
    transform: translateX(5px);
}
/* Third-part finish */
/* Fourth-part start */
.fourth-part{
    display: flex;
}
.app-image{
    width: 50%;
}
.app-image img{
    width: 100%;
}
.application{
    padding-left: 80px;
}
.application h3{
    font-size: 35px;
    color: rgb(146, 14, 14);
}
.application h1{
    font-size: 50px;
    color: rgb(184, 49, 0);
    padding-top: 5px;
}
.app-buttons{
    padding-top: 20px;
}
/* Forth-part finish */
/* Fotter start */
footer{
    background-color: rgb(10, 10, 97);
    text-align: center;
    padding-top: 20px;
}
.footer-container h3{
    color:antiquewhite ;
    font-size: 30px;
    padding: 10px 0px;
}
.footer-container p{
    font-size: 14px;
    color: rgba(255, 228, 196, 0.849);
}
.footer-logo{
    font-size: 30px;
    padding-top: 10px;
    color: azure;
    border-radius: 5px;
}
/* Footer-part finish */